# **Installation of required libraries**

In [37]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
import matplotlib.pyplot as plt
import seaborn as sns

# **Dataset**

In [39]:
df = pd.read_csv('../data/ResaleFlatPrice.csv')
df.head()

,year,month,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,town_le,flat_type_le,storey_range_le,flat_model_le
0,1990,1,ANG MO KIO,1 ROOM,10 TO 12,31.0,IMPROVED,1977,86.0,9000.0,0,0,5,7
1,1990,1,ANG MO KIO,1 ROOM,04 TO 06,31.0,IMPROVED,1977,86.0,6000.0,0,0,2,7
2,1990,1,ANG MO KIO,1 ROOM,10 TO 12,31.0,IMPROVED,1977,86.0,8000.0,0,0,5,7
3,1990,1,ANG MO KIO,1 ROOM,07 TO 09,31.0,IMPROVED,1977,86.0,6000.0,0,0,4,7
4,1990,1,ANG MO KIO,3 ROOM,04 TO 06,73.0,NEW GENERATION,1976,85.0,47200.0,0,2,2,20

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915509 entries, 0 to 915508
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 915509 non-null  int64
 1   month                915509 non-null  int64
 2   town                 915509 non-null  object
 3   flat_type            915509 non-null  object
 4   storey_range         915509 non-null  object
 5   floor_area_sqm       915509 non-null  float64
 6   flat_model           915509 non-null  object
 7   lease_commence_date  915509 non-null  int64
 8   remaining_lease      915509 non-null  float64
 9   resale_price         915509 non-null  float64
 10  town_le              915509 non-null  int64
 11  flat_type_le         915509 non-null  int64
 12  storey_range_le      915509 non-null  int64
 13  flat_model_le        915509 non-null  int64
dtypes: float64(3), int64(7), object(4)
memory usage: 97.8+ MB

In [19]:
df.describe()

,year,month,floor_area_sqm,lease_commence_date,remaining_lease,resale_price,town_le,flat_type_le,storey_range_le,flat_model_le
count,915509.000000,915509.000000,915509.000000,915509.000000,915509.000000,9.155090e+05,915509.000000,915509.000000,915509.000000,915509.000000
mean,2005.941579,6.595280,95.695752,1988.148711,81.210327,3.172766e+05,13.642983,3.013651,3.403144,15.712879
std,9.158724,3.408174,25.847625,10.531536,10.613795,1.674350e+05,8.800704,0.949751,2.656702,6.677309
min,1990.000000,1.000000,28.000000,1966.000000,42.080000,5.000000e+03,0.000000,0.000000,0.000000,0.000000
25%,1998.000000,4.000000,73.000000,1981.000000,74.000000,1.920000e+05,5.000000,2.000000,2.000000,9.000000
50%,2005.000000,7.000000,93.000000,1986.000000,83.000000,2.950000e+05,13.000000,3.000000,4.000000,16.000000
75%,2013.000000,10.000000,113.000000,1996.000000,90.000000,4.130000e+05,23.000000,4.000000,5.000000,21.000000
max,2024.000000,12.000000,307.000000,2022.000000,101.000000,1.500000e+06,26.000000,7.000000,24.000000,33.000000

# **Data Cleaning**

1. Hanlde the missing value or rows in the dataset

In [20]:
df.isnull().values.any()

False

2. Split the resale price into three category

In [40]:
df['price_category'] = pd.cut(df['resale_price'], 3, labels=['low', 'medium', 'high'])
df.head()

,year,month,town,flat_type,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,town_le,flat_type_le,storey_range_le,flat_model_le,price_category
0,1990,1,ANG MO KIO,1 ROOM,10 TO 12,31.0,IMPROVED,1977,86.0,9000.0,0,0,5,7,low
1,1990,1,ANG MO KIO,1 ROOM,04 TO 06,31.0,IMPROVED,1977,86.0,6000.0,0,0,2,7,low
2,1990,1,ANG MO KIO,1 ROOM,10 TO 12,31.0,IMPROVED,1977,86.0,8000.0,0,0,5,7,low
3,1990,1,ANG MO KIO,1 ROOM,07 TO 09,31.0,IMPROVED,1977,86.0,6000.0,0,0,4,7,low
4,1990,1,ANG MO KIO,3 ROOM,04 TO 06,73.0,NEW GENERATION,1976,85.0,47200.0,0,2,2,20,low

# **Exploratory Data Analysis (EDA)**

1. Correlation between numeric features. 
    - `lease_commence_date` and `remaining_lease` are highly correlated
    - `lease_commemce_date` will be dropped

In [22]:
fig = px.imshow(df[['remaining_lease', 'lease_commence_date', 'floor_area_sqm', 'month', 'year']].corr().round(2), color_continuous_scale=px.colors.sequential.Cividis_r, text_auto=True)
fig.show()

2. Relationship of different numerical variables

In [ ]:
numericalData = df[['floor_area_sqm','remaining_lease','resale_price']]

f, axes = plt.subplots(3, 3, figsize=(16, 14))
colors = ["r", "g", "b"]
count = 0
for var in numericalData:
    sns.boxplot(x = var, data = numericalData, color = colors[count], ax = axes[count,0])
    sns.histplot(x = var, data = numericalData, kde = True, color = colors[count], ax = axes[count,1])
    sns.violinplot(x = var, data = numericalData, color = colors[count], ax = axes[count,2])
    count += 1

In [ ]:
# To find correlation between the numerical variables
# Heatmap of correlation matrix
plt.figure(figsize=(20, 8))
sns.heatmap(numericalData.corr(), vmin = -1, vmax = 1, linewidths = 1,
           annot = True, fmt = ".2f", annot_kws = {"size": 20}, cmap = "RdBu") #see the dependence of variables on the resale price

In [ ]:
sns.pairplot(data = numericalData)

3. Relationship of different categorical variables vs resale_price

In [ ]:
fig = go.Figure()

fig.add_trace(go.Box(x=df['town'],y=df['resale_price'], marker = {'color' : 'blue'}))
fig.update_layout(width=900, height=600,yaxis_title="resale_price",
    xaxis_title="town",showlegend=False)

fig.show()

In [ ]:
fig = go.Figure()

fig.add_trace(go.Box(x=df['flat_type'],y=df['resale_price'],marker = {'color' : 'red'}))
fig.update_layout(width=900, height=600,yaxis_title="resale_price",
    xaxis_title="flat_type",showlegend=False)

fig.show()

In [ ]:
fig = go.Figure()

fig.add_trace(go.Box(x=df['storey_range'],y=df['resale_price'], marker = {'color' : 'orange'}))
fig.update_layout(width=900, height=600,yaxis_title="resale_price",
    xaxis_title="storey_range",showlegend=False)

fig.show()

In [ ]:
fig = go.Figure()

fig.add_trace(go.Box(x=df['flat_model'],y=df['resale_price'], marker = {'color' : 'brown'}))
fig.update_layout(width=900, height=600,yaxis_title="resale_price",
    xaxis_title="flat_model",showlegend=False)

fig.show()

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 915509 entries, 0 to 915508
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 915509 non-null  int64
 1   month                915509 non-null  int64
 2   town                 915509 non-null  object
 3   flat_type            915509 non-null  object
 4   storey_range         915509 non-null  object
 5   floor_area_sqm       915509 non-null  float64
 6   flat_model           915509 non-null  object
 7   lease_commence_date  915509 non-null  int64
 8   remaining_lease      915509 non-null  float64
 9   resale_price         915509 non-null  float64
 10  town_le              915509 non-null  int64
 11  flat_type_le         915509 non-null  int64
 12  storey_range_le      915509 non-null  int64
 13  flat_model_le        915509 non-null  int64
 14  price_category       915509 non-null  category
dtypes: category(1), float64(3), int64(7), object(4)
memory usage: 98.7+ MB

In [41]:
df.to_csv('../data/ResaleFlatPrice_Formatted.csv', index=False)